KEYCLOAK_ADMIN=adminofkeycloak
KEYCLOAK_ADMIN_PASSWORD=passworofadminofkeycloak
KC_DB=bbbb
KC_DB_URL=ddbburl
KC_DB_USERNAME=useradminofddbbofkeycloak
KC_DB_PASSWORD=passwordofuseradminofddbbofkeycloak
KC_HOSTNAME=domainorsubdomain
KC_HOSTNAME_STRICT=true
KC_HOSTNAME_STRICT_HTTPS=true
KC_PROXY=edge
KC_HTTP_RELATIVE_PATH=relativePath